* {
    padding: 0;
    margin: 0;
}

/* ///////////////// BODDY ///////////////////// */

body {
    font-family: 'Montserrat Alternates', sans-serif;
    color: white;
    background-color: #080808;
    background-image: url(..//imagens/assets/background.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

/* ///////////////// HEADER ///////////////////// */

header {
    margin-top: 57px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 235px;

}


.navHome {
    color: white;
    text-decoration: none;
}


.navcomprarNFT {
    color: white;
    text-decoration: none;
}



.navSobre {
    color: white;
    text-decoration: none;
}



.navFAQ {
    color: white;
    text-decoration: none;
}


.menuPrincipal {
    display: flex;
    gap: 40px;
    list-style: none;
}

button {
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 230px;
    height: 50px;
    line-height: 0;
    gap: 20px;
}

/* ///////////////// DIV PAI ///////////////////// */

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
}

/* ///////////////// DIV MAIN 01 ///////////////////// */

.main01 {
    margin-top: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.containermain01 {
    
    display: flex;
    flex-direction: column;

}

.textoeavatar {
    display: flex;
}

.avatargroup {
    width: 169px;
    height: 87px;
}

.textmain01 {
    width: 401px;
    height: 88px;
}

.quantartist {
    display: flex;
    flex-direction: column;
    justify-content: end;
    font-size: 18px;
    width: 194px;
    height: 87px;
}


/* ///////////////// DIV MAIN 02 ///////////////////// */

.main02 {
    background-color: #080808;
    display: flex;
    align-items: center;
}

.textmain02 {
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 50px;
    width: 596px;
    height: 246px;
    line-height: 61px;
    margin-left: 40px;
}

.NFTs {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #FF5B50;
}

.badgeimg {
    width: 200px;
    height: 200px;
}

.gallery01 {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 13px;

}

.gallery02 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    gap: 13px;
}

.gallery01 img {
    border: 2px solid white;
}

.gallery02 img {
    border: 2px solid white;
}


.artes {
    margin-top: 140.6px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.vendas {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.artistas {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.numberAside {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-right: 2px solid #5A5757;
    border-bottom: 2px solid #5A5757;
    gap: 50px;
    padding: 100px;
}


.ArtFont {
    font-size: 70px;
}

.SellingFont {
    font-size: 70px;
}

.ArtistFont {
    font-size: 70px;
}

.artist {
    color: #5A5757;
}

.selling {
    color: #5A5757;
}

.art {
    color: #5A5757;
}

.textAside {
    display: flex;
    align-items: center;
    padding: 100px;
    margin-top: 77.6px;
    gap: 126px;
}

.textColumn1 {
    font-size: 18px;
    font-family: 'Montserrat Alternates', sans-serif;
    display: flex;
    flex-direction: column;
    gap: 63px;

    width: 435px;
    height: 114px;
}

.loremRed {
    color: #FF5B50;

}

.textColumn2 {
    font-size: 18px;
    font-family: 'Montserrat Alternates', sans-serif;
    display: flex;
    flex-direction: column;
    gap: 63px;

    width: 435px;
    height: 114px;
}

.loremRed2 {
    color: #FF5B50;

}

.loremLinha {
    border-bottom: 1px solid white;
    width: 120px;
}

.bannerDiv {
    display: flex;
    flex-direction: column;

    margin-top: 71px;
}
.banner {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

/* ///////////////// DIV MAIN 03 ///////////////////// */

.main03 {
   background-color: #080808;
   margin-top: 143px;
}

.h1main03 {
    color: #FF5B50;
}

.titulomain03 {
    font-size: 50px;
}

.tituloAstronauta1 {
    color: #5A5757;
}

.numberAstronauta1 {
    color:#FF5B50;
}

.textastronauta1 {
    margin-top: 44px;
    display: flex;
    justify-content: end;
    justify-content: space-between;
}

.astronauta01 {
    margin-top: 171px;
    display: flex;
    flex-direction: column;
    width: 350px;
}

.imgetextastronauta1 {
    margin-top: 44px;
}

.imgastronauta1 {
    margin-top: 26px;
    width: 350px;
}

.tituloAstronauta3 {
    color: #5A5757;
}

.numberAstronauta3 {
    color:#FF5B50;
}

.textastronauta3 {
    margin-top: 44px;
    display: flex;
    justify-content: end;
    justify-content: space-between;
}

.astronauta03 {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    width: 350px;
}

.imgastronauta3 {
    margin-top: 34px;
    width: 350px;
}

.colunaastronautas01-03 {
    display: flex;
    flex-direction: column;
    justify-content: start;
}



.colunaastronautas02-04 {
    display: flex;
    flex-direction: column;
}

.textastronauta2 {
    margin-top: 44px;
    display: flex;
    justify-content: end;
    justify-content: space-between;
}

.astronauta02 {
    margin-top: 171px;
    display: flex;
    flex-direction: column;
    width: 350px;
}

.imgetextastronauta2 {
    margin-top: 44px;
}

.imgastronauta2 {
    margin-top: 26px;
    width: 350px;
}

.tituloAstronauta2 {
    color: #5A5757;
}

.numberAstronauta2 {
    color:#FF5B50;
}

.tituloAstronauta4 {
    color: #5A5757;
}

.numberAstronauta4 {
    color:#FF5B50;
}

.textastronauta4 {
    margin-top: 44px;
    display: flex;
    justify-content: end;
    justify-content: space-between;
}

.astronauta04 {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    width: 350px;
}

.imgastronauta4 {
    margin-top: 34px;
    width: 350px;
}

.astronautas {
    display: flex;
    gap: 537px;
}

/* ///////////////// DIV MAIN 4 ///////////////////// */

.main04 {
    margin-top: 151px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titlemain4 {
    font-size: 50px;
}

.titlemain4Red {
    color: #FF5B50;
}

/* ///////////////// GALERIA DOS ARTISTAS ///////////////////// */

.rectangleGallery {
    display: flex;
    margin-top: 120px;
    gap: 111px;
}

.rectangleGallery2 {
    display: flex;
    margin-top: 111px;
    gap: 111px;
}

/* ///////////////// ARTISTA 1 ///////////////////// */

.rectangle {
    background-color: #252525;
    width: 350px;
    height: 150px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.textRectangle {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.titleRectangle {
    color: white;
    font-size: 20px;
}

.numberRectangle {
    font-size: 20px;
    color: #FF5B50;
}


.artistavatar01 {
    width: 100px;
    height: 100px;
}



/* ///////////////// ARTISTA 2 ///////////////////// */


.rectangle2 {
    width: 350px;
    height: 150px;
    background-color:#252525;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.textRectangle2 {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.titleRectangle2 {
    color: white;
    font-size: 20px;
}

.numberRectangle2 {
    color: #FF5B50;
    font-size: 20PX;
}

.artistavatar02 {
    width: 100px;
    height: 100px;
}

/* ///////////////// ARTISTA 3 ///////////////////// */

.rectangle3 {
    width: 350px;
    height: 150px;
    background-color:#252525;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.textRectangle3 {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.titleRectangle3 {
    color: white;
    font-size: 20px;
}

.numberRectangle3 {
    color: #FF5B50;
    font-size: 20PX;
}

.artistavatar03 {
    width: 100px;
    height: 100px;
}

/* ///////////////// ARTISTA 4 ///////////////////// */

.rectangle4 {
    width: 350px;
    height: 150px;
    background-color:#252525;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.textRectangle4 {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.titleRectangle4 {
    color: white;
    font-size: 20px;
}

.numberRectangle4 {
    color: #FF5B50;
    font-size: 20PX;
}

.artistavatar04 {
    width: 100px;
    height: 100px;
}

/* ///////////////// ARTISTA 5 ///////////////////// */

.rectangle5 {
    width: 350px;
    height: 150px;
    background-color:#252525;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.textRectangle5 {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.titleRectangle5 {
    color: white;
    font-size: 20px;
}

.numberRectangle5 {
    color: #FF5B50;
    font-size: 20PX;
}

.artistavatar05 {
    width: 100px;
    height: 100px;
}

/* ///////////////// ARTISTA 6 ///////////////////// */

.rectangle6 {
    width: 350px;
    height: 150px;
    background-color:#252525;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.textRectangle6 {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.titleRectangle6 {
    color: white;
    font-size: 20px;
}

.numberRectangle6 {
    color: #FF5B50;
    font-size: 20PX;
}

.artistavatar06 {
    width: 100px;
    height: 100px;
}

/* ///////////////// FOOTER DOS ARTISTAS ///////////////////// */

.footermain04 {
    display: flex;
    gap: 13px;
    margin-top: 63px;
}

.titleFooterArtist {
    font-size: 20px;
}

/* ///////////////// FOOTER ///////////////////// */

footer {
    margin-top: 148px;
    background-color: #252525;
    width: 1900px;
}

/* ///////////////// Top Footer ///////////////////// */

.topFooter {
    margin-top: 82px;
    display: flex;
    justify-content: center;
    gap: 912px;
}

.titleTopFooter {
     font-size: 40px;
}

.NFTsFooter {
    color: #FF5B50;
}

.rectangleFooter {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    background-color: #FF5B50;
}

/* ///////////////// Middle Footer ///////////////////// */

.middleFooter {
    margin: 82px;
    padding: 84px;
    border: 2px solid gray;
    display: flex;
    gap: 500px;
}

.titleMiddleFooter {
    width: 350px;
    height: 80px;
    font-size: 30px;
}

.titleMiddleRed {
    font-size: 30px;
    color: #FF5B50;
}

.rectangleInput {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 122px;
    height: 66px;
}

.titleRectangleInput {
    font-size: 20px;
     color: black;
}

.columnMiddle1 {
    border-right: 2px solid gray;
    width: 100%;
}

.inputMail {
    margin-top: 25px;
    display: flex;
    align-items: center;

}

.mailInput{
    font-size: 20px;
    color: white;
    background-color: #080808;
    width: 280px;
    height: 66px;
}

.columnMiddle2 {
    margin-left: 122px;
    display: flex;
    justify-content: space-around;
    gap: 128px;
    width: 100%;
    color: #5A5757;
}

.colunasMiddle {
    margin-top: 74px;
    width: 100%;
    display: flex;
}

.ulMiddle {
    font-size: 20px;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.titleLi {
    color: white;
}

.bottomFooter {
    margin-top: 69px;
    width: 100%;
}

.conteudoBottomFooter {
    margin: 84px;
    display: flex;
    justify-content: space-between;
}

.redesSociais {
    display: flex;
    gap: 50px;
}

